<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interceptor</title>
</head>
<body>
    <h1>Interceptor</h1>
    {% if is_started %}
        <form action="/interceptor/stop" method="post">
            <input type="submit" value="Disable">
        </form>
    {% else %}
        <form action="/interceptor/start" method="post">
            <input type="submit" value="Enable">
        </form>
    {% endif %}
</body>
</html>
